/* global */
i {
    font-size: 25px;
    color: white
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

span,
small {
    color: white
}

nav a {
    color: white !important
}

body{
    overflow: hidden;
}

.mb-6{
    margin-bottom: 6rem !important;
}
/* global */

/* scrolling X */
.container-scrollable-x {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container-scrollable-x::-webkit-scrollbar {
    width: 8px;
}

.container-scrollable-x::-webkit-scrollbar-track {
    background: rgba(184, 34, 34, 0);
    border-radius: 10px;
}

.container-scrollable-x::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(37, 29, 29, 0.8);
}

.container-scrollable-x::-webkit-scrollbar-thumb:hover {
    background: black;
}
/* scrolling X */

/* scrolling Y */
.container-scrollable-y { 
    overflow-x: scroll;
    overflow-y: hidden;
}

.container-scrollable-y::-webkit-scrollbar {
    height: 4px;
}

.container-scrollable-y::-webkit-scrollbar-track {
    background: rgba(184, 34, 34, 0);
    border-radius: 10px;
}

.container-scrollable-y::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.container-scrollable-y::-webkit-scrollbar-thumb:hover {
    background: black;
}
/* scrolling Y */

/* active_helper_buttons */
.active_helper_buttons{    
    position: absolute;
    display: none;
    border: 1px solid #c9b8b8;
    background: #ffffff;
    z-index: 1;
    box-shadow: 1px 1px 3px 1px gray;
}
.active_helper_buttons i{
    color: black
}
/* active_helper_buttons */

/* page_buttons */
#page_buttons{
    position: absolute;
    display:none;  
    z-index:1;
    right: 0;
    top: -40px
}
#page_buttons i{
    color: black
}
/* page_buttons */

/* page_resize */
#page_resize{
    position: absolute;
    display:none;  
    z-index:1;
    left: 0;
    top: -40px;
} 
/* page_resize */


.canvas-border{
    border: #00bbff 2px solid;
}
.canvas-page{
    background:white;
    width: fit-content;
    /* margin:auto; */
    /* position: relative; */
}  

/* image_attributes */
#image_attributes div{
    padding: 0 6px;
} 
#image_attributes div span{
    text-decoration: none;
}
/* image_attributes */


/* Custom Button */
.btn-custom:hover{
    background: #597b80 !important;
}
.btn-custom:hover i{ 
    color:white !important
}
.btn-custom:disabled{
    border:none;
}
/* Custom Button */

/* offcanvas-shapes */
#offcanvas-shapes div{
    height: 90px;
    width: 90px;
    margin: 0 14px;
    min-width: fit-content
}
#offcanvas-shapes div img{
    padding: 12px 0
} 
/* offcanvas-shapes */ 

#dropdown-effects div{
    padding:6px
}

.common-background{     
    background: linear-gradient(128deg, rgb(40 43 46) 0%, rgb(104 148 155 / 99%) 100%);
} 

.list-group-item span{
    color:black
} 

.photo-by{
    position: absolute; bottom: 0px; left: 0px; font-size: 10px; padding: 3px; padding-top: 10px; text-align: center;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.6)); width: 100%; opacity: 0;
    color: white;
}
.overlay-image{
    position: absolute;top: 0;margin: 4px; border-radius: 6px;height: -webkit-fill-available;width: -webkit-fill-available;background: #0000009e;display:none
}
.side-menu{
    border: 1px solid grey;
}
.nav-items{
    border: 1px solid grey;padding:0
} 
#page-container{
    background: #e7e7e7;padding:0;position:relative
}
.effect-attribute{ 
    display: flex;justify-content:space-between
}
.effect-attribute label small{
    color:black
}
.nav-divider{
    border-left: 2px solid rgb(68, 67, 67); height: 40px;
}
.offcanvas-header input{
    display: inline; width: 220px;background: #505e63;color: white;border: none;
}
#image-spinner{
    position: absolute; top: 45%; left: 45%;display:none
}
.off-canvas-images{
    min-width: fit-content;position: relative;
}
.off-canvas-images img{
    border-radius: 12px;padding:4px 
}
#drawer-menu img{ 
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
    transition: top 0.4s;
    top: 8px; 
}
#drawer-menu img:hover{
    top: -20px;
}
.selected_drawer_item{
    top: -30px !important;
}
#drawer-menu img:active{
    top: -40px;
}
#drawer-menu{
    position: fixed;bottom:-70px;z-index: 1;max-height:65px;border-radius: 20px;display: none;z-index: 3
}

.image_attributes, .polygon_attributes, .path_attributes, .circle_attributes, .text_attributes, .group_attributes, .active_selection_attributes{display: none;}

.textbox-div{    
    white-space: pre-line; 
    box-shadow: 5px 9px 24px 1px #3293a3;
    height: fit-content; 
    text-align: center;
    padding: 0px 28px 15px;
    border-radius: 20px;
    min-width: fit-content;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.textbox-div:hover{
    transform: scale(1.1);
    box-shadow: 2px 9px 20px 1px #6e6e6e;
}

.nav-bar{
    display:flex;justify-content:space-between ;color:white;padding:15px;position: relative;z-index:1
}

.hover-image{  
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.hover-image:hover{
    transform: scale(1.1);
    box-shadow: 2px 9px 20px 1px #6e6e6e;
    z-index: 1; /* Ensure the transformed element is on top */
} 

#side_menu::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

#side_menu::-webkit-scrollbar-track {
    background: #b8222200;
    border-radius: 10px;
}

#side_menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(160, 192, 186, 0.8);
}

#side_menu::-webkit-scrollbar-thumb:hover {
    background: black;
}
.offcanvas-header{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 575px) {
    #side_menu {
        width: 100%;
        margin-top: 0 !important;
        height: fit-content !important;
        left: 0 !important;
    }
    #zooming-buttons{ 
        bottom: 91px !important;
        right: 11px !important;
    }
    #toggle-bar{
        display: none;
    }
    #drawer-menu img{
        width: 7vh !important;
    }
    #drawer-menu{
        bottom: 135px !important;
    }
}